<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364481992320-l9gh2l0kdp9c4vr6kjdnqo8qlq528odh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364481992320-l9gh2l0kdp9c4vr6kjdnqo8qlq528odh</string>
	<key>API_KEY</key>
	<string>AIzaSyDjRWCe_GjbSc_AqqTcvXr_EK_AOapC8r8</string>
	<key>GCM_SENDER_ID</key>
	<string>364481992320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TUe.TUeats</string>
	<key>PROJECT_ID</key>
	<string>tueats-database</string>
	<key>STORAGE_BUCKET</key>
	<string>tueats-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364481992320:ios:872dc4eef6bd8365327865</string>
	<key>DATABASE_URL</key>
	<string>https://tueats-database-default-rtdb.firebaseio.com</string>
</dict>
</plist>